<div id="background">
  <i id="logo" class="fab fa-usb"></i>
  <div id="fade-container">
    <div id="create">
      <div class='ui-g'>
        <div class="ui-g-4">
          <i class="fas fa-hdd"></i>
          <p-fileUpload chooseLabel="Select image" mode="basic" name="myfile[]" [auto]="true" customUpload="true" (uploadHandler)="file($event)"></p-fileUpload>
        </div>
        <div class="ui-g-4">
          <i class="fas fa-plus-square"></i>
          <p-button label="Select device" (onClick)="selectDeviceModal()"></p-button>
        </div>
        <div class="ui-g-4">
          <i class="fas fa-bolt"></i>
          <p-button label="Flash!" (onClick)="createUSB()"></p-button>
        </div>
      </div>
    </div>
  </div>

  <img id="wave" src="assets/pngs/wave.png">
</div>

<p-dialog header="Title" [(visible)]="displayModal">
  <p-table [columns]="modalCols" [value]="deviceNames" selectionMode="single" [(selection)]="selectedDevice" dataKey="label">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
