/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

body {
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  color: white;
}
#drag-region {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: 20px;
}
p-dialog > div {
  max-width: 50vw;
}
p-fileupload .pi {
  display: none;
}
#create .ui-button-text.ui-clickable {
  padding: 10px 40px;
  opacity: 0.8;

}
#close {
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  border: none;
  border-radius: 0;
  background-color: indianred;
  border-bottom-left-radius: 10px;
  font-size: 15px;
  z-index: 2;
  cursor: pointer;
}
#close:hover {
  background-color: red;
}

.deactivated, .deactivated i {
   pointer-events: none;
   color: grey !important;
}
.deactivated-line:after {
  pointer-events: none;
  background-color: grey !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.visible {
 visibility: visible;
 opacity: 1;
 transition: opacity 0.3s linear;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
